*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: s;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #009688;
}
.darkbody
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(134, 134, 134);;
}
.container
{
    position: relative;
    width: 75%;
    max-width: 100%;
    height: 90vh;
    background: rgb(97, 97, 97);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0,0.06);
    display: flex;
    overflow: hidden;
}
.text-block {
    position: relative;
    display:inline-block;
    width: 80%;
    height: 7%;
    max-height: 100px;
    line-height: 32px;
    font-size: 95%;
    text-align: center;
    background-color: #497d33a2;
    border-radius: 10%;
    margin:10%;
    margin-top: 0%;
    margin-bottom: 20%;
}

.container .servers
{
    position: relative;
    flex: 6%;
    padding-top: 60px;
    background-color: rgb(79, 168, 79);
} 
.text-block:hover 
{
    background-color: #1e4620;
    color: #fff;
}
.container .leftside
{
    position: relative;
    flex: 23%;
    background: rgb(143, 143, 143);
    border-right: 1px solid rgba(0,0,0,0.2);
}
.container .rightside
{
    position: relative;
    flex: 70%;
    background: #a3c08f;
    width: 0%;
    overflow: -moz-hidden-unscrollable;
}
.container .rightside::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a3c08f;
    opacity: 0.6;
}
.useless
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
#delete
{
    cursor: pointer;
    background: #d24a4a;
    color: rgb(224, 224, 224);
    min-width: 45px;
    height: 30px;
    border-radius: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 0.75em;
}
.header
{
    position: relative;
    width: 100%;
    height: 60px;
    background: rgb(79, 168, 79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
#chats 
{
    min-height: 105%;
}
.imgtext
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chat-users {
    display: inline-block;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
  
#user-list {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 9999;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    width: 150px;
    border-radius: 5px;
    margin-left: 10px;

}

#chat-users {
    position: relative;
    display: inline-block;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

  
#user-list li {
    padding: 5px;
    background-color: aliceblue;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#user-list li:last-child {
    border-bottom: none;
}
#topic
{
    color: #262626;
    font-weight: 700;
    line-height: 1.2em;
    margin-left: 15px;
}
.imgtext h4
{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 5%;
    margin-top: 7%;
}
.imgtext h4 span
{
    font-size: 0.8em;
    color: #555;
}
.userimg
{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 7px;
}
.search_channel
{
    position: relative;
    width: 100%;
    height: 50px;
    border-color: black;
    background: rgb(163, 192, 143);
    display: flex;
    align-items: center;
}
.search_channel div
{
    width: 100%;
    max-height: 100px;
}
.search_channel div input
{
    width: 100%;
    outline: none;
    border: none;
    background: rgb(190, 190, 190);
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
}
.search_channel div input::placeholder
{
    color:rgb(190, 38, 38);
}
.channel_list
{
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
    background: #a3c08f;
    
}
.channel_list .block .btn .details .name button
{
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: none;
    cursor: pointer;
}
.channel_list .block.active
{
    background: rgb(89, 149, 87);
}

.channel_list .block
{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(104, 113, 104);
}
.channel_list .block:hover
{
    background: rgb(121, 187, 119);
}
.creator {
    color: #2d2c2c;
}
.channel_list .block .imgbx
{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.channel_list .block .details
{
    position: relative;
    width: 100%;
}
.channel_list .block .details .name
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: black;
}
a{
    text-decoration: none;
    color: #555;
    font-size: large;
}
.channel_list .block .details .name a
{
    font-size: 1em;
    font-weight:bold ;
    color: rgb(58, 58, 58);
}
.update
{
    font-size: 0.75em;
    width: 22px;
    background-color: #00cd46;
    color: #ff6000;
    text-align: center;
    border-radius: 50%;
}
.arrow{
    cursor: pointer;
}
#UP{
    margin-left: 47%;
}
#breaker{
    visibility: hidden;
    height: 5px;
}
.message_p
{
    display: flex;
    justify-content: flex-end;
    align-items: right;
}
.message_p p
{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.message_p b
{
    cursor: pointer;
    background: rgb(236, 159, 100);
    color: rgb(230, 230, 230);
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}
.chatbox
{
    position: relative;
    height: 70vh;
    padding: 5%;
    padding-bottom: 10px;
    overflow-y: scroll;
    overflow-x:hidden

}
.short
{
    position: relative;
    display: flex;
    width: auto;
}
.my_short
{
    justify-content: flex-end;
    margin-right: 90px;
}
.frnd_short
{
    justify-content: flex-start;
    margin-left: 30px;

}
.message
{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.message p
{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    background: #afeb81;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 10px;
    overflow: scroll;
}
.message p span
{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}
.my_message
{
    justify-content: flex-end;
}
.frnd_message
{
    justify-content: flex-start;
}
.frnd p
{
    background: #58b9b9;
    text-align: left;
    cursor: pointer;

}
.frnd_message p
{
    background-color: #dde6d3;
    text-align: left;
}
.shortBox
{
    position: relative;
    width: 105%;
    min-height: 0;
    max-height: calc(100% - 220px);
    justify-items: center;
    overflow-y: scroll
}
.shortBox p
{
    position: relative;
    text-align: left;
    max-width: 65%;
    font-size: 0.9em;
    padding: 2px;
}
.shortBox p span
{
    font-size: 0.8em;
    opacity: 0.8;
    text-align-last:right;
}
.chatbox_input
{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.chatbox_input .form
{
    position: relative;
    width: 100%;
    padding: 5%;
    /* padding-right: 0%; */
    display:flex;
    
}
.form button
{
    min-width: 7%;
    background-color: #a5e4e4;
    /* border: none; */
    border-radius: 45%;
    cursor: pointer;
}
.chatbox_input .form input
{
    cursor: pointer; 
    position: relative;
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: rgb(221, 230, 211);
    border: 1px solid rgb(148, 148, 148);
    outline: none;
    align-items: center;
    border-radius: 30px;
    font-size: 1em;
    display: flex;

}


.container .servers {
    position: relative;
    flex: 7%;
    padding-top: 60px;
    background-color: rgb(79, 168, 79);
}





