<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name.username}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="{{body}}">
    <div class="container" >
        <div class="leftside">
            <div class="header">
                <div class="imgtext">
                    
                    <a href="/app" style="text-decoration: none;font-size: 1.1em; "><ion-icon name="arrow-back-outline"></ion-icon></a>
                    <div class="userimg">
                        <img src="{{url_for('static',filename='profile.webp')}}" alt="pic" class="cover">
                    </div>
                    <h4>{{name.username}}<br><span>Points: {{name.balance}}</span></h4>
                </div>
            </div>
            <div class="search_channel">
                <div>
                    <form action="/app" method="post">
                        <input autocomplete="off" name="search" placeholder="Search channel/person" type="text" class="search_channel">
                    </form>
                </div>
            </div>
            <div class="channel_list">
                {% for table in tables: %}
                    {% if table.id == topic.id: %}
                        <div class="block active">
                            <div class="imgbx">
                                <img src="{{url_for('static',filename='profile.webp')}}" alt="pic" class="cover">
                            </div>
                            <div class="details">
                                <div class="name">
                                    <h4>{{table.name}}</h4>
                                    <p class="time"></p>
                                </div>
                                <div class="message_p">
                                    <p>created by {{table.user.username}} </p>
                                    <b onclick="location.href='/delete'"></b>
                                </div>
                            </div>
                        </div>
                    {% else: %}
                        <div class="block">
                            <div class="imgbx">
                                <img src="{{url_for('static',filename='profile.webp')}}" alt="pic" class="cover">
                            </div>
                            <div class="details" onclick="location.href='/channel/{{table.id}}'">
                                <div class="name">
                                    <h4>{{table.name}}</h4>
                                    <p class="time"></p>
                                </div>
                                <div class="message_p">
                                    <p>created by {{table.user.username}} </p>
                                    <b onclick="location.href='/delete'"></b>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- profile pic will be added later -->
            </div>
        </div>
        <div class="rightside" id="chatside">
            <div class="header">
                <div class="imgtext">
                    <h4 id="topic">{{topic.name}}<br></h4>
                </div>
            </div>

            <div class="chatbox" id="chats">
                <div id="up">_-^-_</div>
                {% for post in posts: %}
                    {% if loop.previtem is not defined: %}
                        {% if post.user.id==name.id: %}

                            <div class="message my_message">
                                <p>{{post.data}}<br><span>{{post.time.strftime("%D  %H:%M")}}</span></p>
                            </div>
                        {% else: %}
                            <div class="message frnd">
                                <p><a href="/chat/{{post.user.id}}" style="text-decoration: none;font-size: 1.1em; ">{{post.user.username}}</a></p>
                            </div>
                            <div class="message frnd_message">
                                <p>{{post.data}}<br><span>{{post.time.strftime("%D  %H:%M")}}</span></p>
                            </div>
                        {% endif %}
                        <script>
                            let ID = "{{post.id}}"

                        </script>
                    {% else: %}
                        {% if post.user.id==name.id: %}
                        <div class="message my_message">
                            <p>{{post.data}}<br><span>{{post.time.strftime("%D  %H:%M")}}</span></p>
                        </div>
                        {% elif post.user.id==loop.previtem.user.id: %}
                            <div class="message frnd_message">
                                <p>{{post.data}}<br><span>{{post.time.strftime("%D  %H:%M")}}</span></p>
                            </div>
                        {% else: %}
                            <div class="message frnd">
                                <p><a href="/chat/{{post.user.id}}" style="text-decoration: none;font-size: 1.1em; ">{{post.user.username}}</a></p>
                            </div>
                            <div class="message frnd_message">
                                <p>{{post.data}}<br><span>{{post.time.strftime("%D  %H:%M")}}</span></p>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}   
                <hr id="breaker">
                <div  class="useless">
                    <button onclick="darkfunction()" style="align-items:center;">chat useless</button>                   
                    <button onclick="location.href='/delete_short'" id="delete">Delete</button>
                </div>
                <script>
                    function darkfunction() {
                        var mybody=document.body
                        var hide=document.getElementById("inputfield")
                        if (hide.value=="True"){
                            mybody.classList.remove("darkbody");
                            hide.value="False";
                        }
                        else {
                            hide.value="True";
                            mybody.classList.toggle("darkbody");
                        }
                    }
                </script>
                <div class="shortBox" id="shortBox"> <p>under maintainance...<z/p>
                    {% for post in feelings: %}
                        {% if post.sender_id==name.id: %}
                            <div class="short my_short">
                                <p>{{post.data}}</span> </p>
                            </div>
                        {% else: %}
                            <div class="short frnd_short">
                                <p >{{post.data}} - <span>{{post.sender.username}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <script>
                    var objDiv1 = document.getElementById("shortBox");
                    var objDiv2 = document.getElementById("chats");
                    objDiv1.scrollTop = objDiv1.scrollHeight;
                    objDiv2.scrollTop = objDiv2.scrollHeight;
                </script>
            </div>

            <div class="chatbox_input" id="chatinput">
                <form action="/channel/{{topic.id}}" method="post" class="form">
                    <input autofocus autocomplete="off" type="text" name="post" placeholder="Message " id="text_message">
                    <input type="hidden" name="hide" default="False" value={{hide}} id ="inputfield">
                </form>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <!-- adding socket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">    
    var socket = io({
        transports: ['websocket']
        })
    socket.on('connect', function() {
        socket.emit('join_channel');
    });
    socket.on('show_message',function(data) {
        // TO ADD NEW CHILD OF MESSAGE //
        var chatbox = document.getElementById("chats");
        var line = document.getElementById("breaker")
        const chat = document.createElement("div");
        chat.classList.add("message");
        if (data[0]=="{{name.username}}"){
            chat.classList.add("my_message");
        }
        else {
            chat.classList.add("frnd_message");
            var LM=document.getElementsByClassName("frnd")
            if(LM.length==0 || LM[LM.length-1].innerText!=data[0]){
                const Frnd=document.createElement("div");
                Frnd.classList.add("message")
                Frnd.classList.add("frnd");
                Frnd.innerHTML='<p><a href="/chat/'+data[0]+'" style="text-decoration: none;font-size: 1.1em; ">'+data[0]+'</a></p>'
                chatbox.insertBefore(Frnd,line);      
            }
        }
        chat.innerHTML='<p>'+data[1]+'<span>'+data[2]+'</span>'+'</p>';
        chatbox.insertBefore(chat, line);
        chat.scrollIntoView();

    });

    let message_form = document.getElementById('chatinput');
    let message_input = document.getElementById('text_message');
    
    document.getElementById('chatinput').onsubmit = function() {
        let message=message_input.value.trim();
        if (message.length) {
            socket.emit('recieve_message',String(message));
            message_input.value=""
        }
        return false
    }
    document.getElementById('up').onclick = function() {
        socket.emit('getHistory',ID)
    }
    socket.on('showHistory', function(data){
        let chatbox = document.getElementById("chats");
        var top = document.getElementById("up")
        if (data.length==31){ID=data[0]}else{top.remove();} //to remove _-^-_ if data<21
        Mess=document.getElementsByClassName("message")[0]
        for(var i=1;i<data.length;i++){
            var message=document.createElement("div")
            message.classList.add("message")
            if(data[i][0]=="{{name.username}}"){
                message.classList.add("my_message")
            }
            else{
                message.classList.add("frnd_message")
                if(i==0 || data[i][0]!=data[i-1][0]){
                    var Frnd=document.createElement("div")
                    Frnd.classList.add("message")
                    Frnd.classList.add("frnd")
                    Frnd.innerHTML='<p><a href="/chat/'+data[i][0]+'" style="text-decoration: none;font-size: 1.1em; ">'+data[i][0]+'</a></p>'
                    Mess.scrollIntoView();
                }
            }
            message.innerHTML='<p>'+data[i][1]+'<span>'+data[i][2]+'</span>'+'</p>';
            chatbox.insertBefore(message,Mess);
        }
        if(Mess.classList.contains("frnd")){
            let arr=$(Mess).prevUntil(document.getElementsByClassName("frnd"))
            var del=true
            for(var i=0;i<arr.length;i++){
                if(arr[i].classList.contains("my_message")){
                    del=false
                }
            }
            if (del){
                Mess.remove()
            }
            Mess.scrollIntoView();
        }})
    socket.on('notify', function(data) {
        // console.log(data+" has joinned the room -> "+"{{topic.name}}" )
    })
</script>
</body>
</html>
