<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <a href="{{url_for('download_database')}}">Download the database</a>
    <br>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" autocomplete="off">
            </p>
        </dl>
        <p>
            <input type="submit" value="Upload">
        </p>

    </form>
    <form action="/session" method="post">
    <ol> 
        {% for db in databases: %}
            <li><input type="submit" name="database" value= {{db}} > <input type="submit" name="deldb" value=delete-{{db}}></li>
        {% endfor %}
    </ol>
    </form>
    <a href="/">back</a>
</body>
</html>