{% extends "base.html" %}
{% block title %}Let's start{% endblock %}
{% block body %}
<h1>Welcome {{name}}</h1><br>
Your balance: {{balance}}
<h3>
<br>
<form action="/user" method="post">
    <input type="submit" value="TODO">
    </form>
<br>

    <form action="/logout" method="post">
        <input type="submit" value="logout">
    </form>    

{% if {{superuser}} :%}
    <form action="/">
        <input autofocus autocomplete="off" type="text" name="new_coupon" placeholder="Name of coupon"> 
        <input autofocus autocomplete="off" type="number" name="new_value" placeholder="Value of coupon">            
    </form>
{% endif %}
{% endblock %}