{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block body %}
<h3>To sign in as guest</h3> 
<h5>use user_name:guest <br>password:123</h5><br>

<h3>login/register</h3>
    <form action="/login" method="post">
        <input autocomplete="off" autofocus name="username" placeholder="user_name" type="text">
        <input autocomplete="off"  name="password" placeholder="password" type="text">
        <select name="operation">
            <option value="login">login</option>
            <option value="register">register</option>
        </select>
        <input value="submit" type="submit">

{% endblock %}