{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block body %}
<h3>Login</h3>
    {% if dbsession: %}
        <h4>{{dbsession}}</h4>
    {% endif %}
    <form action="/login" method="post">
        <input autocomplete="off" autofocus name="username" placeholder="user_name" type="text">
        <input autocomplete="off"  name="password" placeholder="password" type="password">
        <input type="hidden" name="operation" value="login">   

        <input value="submit" type="submit">
    </form>

    <form action="/login" method="post">
        <input type="hidden" name="send" value="register">   
        <input type="submit" value="Register">
    </form>

    <form action="/reset" method="post">
        <input type="submit" value="RESET">
    </form>

    <a href="/session">Continue from where you left.</a>
    {% endblock %}