<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sse_data_stream</title>
    <style contenteditable="true" style="display: block;"></style>
</head>

<body>
    <div id="output"></div>
    <script>
        console.log('starting')
        const outputDiv = document.getElementById('output');
        fetch('/load')
        .then(response=>response.text())
        .then((data)=>{
            console.log('-------')
            console.log(data)
        })
        // const eventSource = new EventSource('/load');
        // eventSource.onmessage = function (event) {
        //     outputDiv.innerHTML += event.data;
        // };
    </script>
</body>

</html>