{% extends "base.html" %}
{% block title %}Let's start{% endblock %}
{% block body %}
<h1>Welcome {{name}}</h1><br>
Your balance: {{balance}}
<h3>
<br>
<form action="/user/to-do" method="post">
    <input type="submit" value="TODO">
    </form>
<br>

    <form action="/logout" method="post">
        <input type="submit" value="logout">
    </form>    

{% if superuser : %}
    <form action="/user" method="post">
        <input autofocus autocomplete="off" type="text" name="new_coupon" placeholder="Name of coupon"> 
        <input autofocus autocomplete="off" type="number" name="new_value" placeholder="Value of coupon">            
        <input type="submit" value="ADD">
    </form>

    
    <ul>
        {% for key, value in coupons.items(): %}
        <li>{{key}} , {{value}}</li>
        {% endfor %}
    </ul>

    
    <form action="/user" method="post">
        <input autofocus autocomplete="off" type="text" name="remove_coupon" placeholder="Remove coupon"> 
        <input type="submit" value="REMOVE">
    </form>
{% endif %}

{% endblock %}