<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name.username}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
</head>
<body>
    <div class="container" >
        <div class="leftside">
            <div class="header">
                <div class="imgtext">
                    
                    <a href="/app" style="text-decoration: none;font-size: 1.1em; "><ion-icon name="arrow-back-outline"></ion-icon></a>
                    <div class="userimg">
                        <img src="{{url_for('static',filename='profile.webp')}}" alt="pic" class="cover">
                    </div>
                    <h4>{{name.username}}<br><span>Points: {{name.balance}}</span></h4>
                </div>
            </div>
            <div class="search_channel">
                <div>
                    <form action="/app" method="post">
                        <input autocomplete="off" name="search" placeholder="Search channel/person" type="text" class="search_channel">
                    </form>
                </div>
            </div>
            <div class="channel_list">
                {% for table in tables: %}
                    {% if table.name == topic.name: %}
                        <div class="block active">
                            <div class="imgbx">
                                <img src="{{url_for('static',filename='profile.webp')}}" alt="pic" class="cover">
                            </div>
                            <div class="details">
                                <div class="name">
                                    <h4>{{table.name}}</h4>
                                    <p class="time"></p>
                                </div>
                                <div class="message_p">
                                    <p>created by {{table.user.username}} </p>
                                    <b onclick="location.href='/delete/{{table.name}}'"></b>
                                </div>
                            </div>
                        </div>
                    {% else: %}
                        <div class="block">
                            <div class="imgbx">
                                <img src="{{url_for('static',filename='profile.webp')}}" alt="pic" class="cover">
                            </div>
                            <div class="details" onclick="location.href='/channel/{{table.name}}'">
                                <div class="name">
                                    <h4><a href="{{table.name}}" style="text-decoration: none; ">{{table.name}}</a></h4>
                                    <p class="time"></p>
                                </div>
                                <div class="message_p">
                                    <p>created by {{table.user.username}} </p>
                                    <b onclick="location.href='/delete/{{table.name}}'"></b>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- profile pic will be added later -->
            </div>
        </div>
        <div class="rightside" id="chatside">
            <div class="header">
                <div class="imgtext">
                    <h4 id="topic">{{topic.name}}<br></h4>
                </div>
            </div>
            <div class="chatbox" id="chats">
                {% for post in posts: %}
                    {% if loop.previtem is not defined: %}
                        {% if post.user.username==name.username: %}
                            <div class="message my_message">
                                <p>{{post.data}}<br><span>{{post.time}}</span></p>
                            </div>
                        {% else: %}
                            <div class="message frnd">
                                <p><a href="/chat/{{post.user.username}}" style="text-decoration: none;font-size: 1.1em; ">{{post.user.username}}</a></p>
                            </div>
                            <div class="message frnd_message">
                                <p>{{post.data}}<br><span>{{post.time}}</span></p>
                            </div>
                        {% endif %}
                    {% elif loop.previtem is defined: %}
                        {% if post.user.username==loop.previtem.user.username: %}
                            {% if post.user.username == name.username: %}
                                <div class="message my_message">
                                    <p>{{post.data}}<br><span>{{post.time}}</span></p>
                                </div>
                            {% else: %}
                                <div class="message frnd_message">
                                    <p>{{post.data}}<br><span>{{post.time}}</span></p>
                                </div>
                            {% endif %}
                        {% else: %}
                            {% if post.user.username==name.username: %}
                                <div class="message my_message">
                                    <p>{{post.data}}<br><span>{{post.time}}</span></p>
                                </div>
                            {% else: %}
                                <div class="message frnd">
                                    <p><a href="/chat/{{post.user.username}}" style="text-decoration: none;font-size: 1.1em; ">{{post.user.username}}</a></p>
                                </div>
                                <div class="message frnd_message">
                                    <p>{{post.data}}<br><span>{{post.time}}</span></p>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% elif loop.nextitem is not defined: %}
                        {% if loop.previtem.user.username==name.username: %}
                            <div class="message my_message">
                                <p>{{post.data}}<br><span>{{post.time}}</span></p>
                            </div>
                        {% else: %}
                            <div class="message frnd">
                                <p><a href="/chat/{{post.user.username}}" style="text-decoration: none;font-size: 1.1em; ">{{post.user.username}}</a></p>
                            </div>
                            <div class="message fnd_message">
                                <p>{{post.data}}<br><span>{{post.time}}</span></p>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}   
                <hr>
                <div style="align-items: right;">
                    <button onclick="darkfunction()" style="align-items:center;">Switch theme</button>
   <!--  -->
                </div>
                <script>
                    function darkfunction() {
                        hide=document.getElementById("inputfield")
                        if (hide.value=="True"){
                            hide.value="False";
                        }
                        else{
                            hide.value="True";
                        }
                    }
                </script>
                <div class="shortBox" id="shortBox">
                    {% for post in feelings: %}
                        <p>{{post.data}} - <span>{{post.sender.username}}</span> </p>
                    {% endfor %}
                </div>
                <script>
                    var objDiv1 = document.getElementById("shortBox");
                    objDiv1.scrollTop = objDiv1.scrollHeight;
                </script>
            </div>
            <script>
                var objDiv2 = document.getElementById("chats");
                objDiv2.scrollTop = objDiv2.scrollHeight;
            </script>
            <div class="chatbox_input">
                <form action="/channel/{{topic.name}}" method="post" class="form">
                    <input autofocus autocomplete="off" type="text" name="post" placeholder="Message ">
                    <input type="hidden" name="hide" default="False" value={{hide}} id ="inputfield">
                </form>
            </div>
        </div>
    </div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>