<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name.username}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script src="{{ url_for('static',filename='script.js')}}"></script>
</head>
<body class="{{body}}">
    <div class="container">
        <div class="rightside">
            <div class="header">
                <div class="imgtext">
                    <a href="/" style="text-decoration: none;font-size: 1.1em; "><ion-icon name="arrow-back-outline"></ion-icon></a>
                    <h4>{{frnd.username}}<br></h4>
                </div>
                <p id="delete" onclick="location.href='/delete_chat'">Delete</p>
            </div>
            <div class="chatbox" id="chats">
                {% for chat in chats: %}
                    {% if chat.sender.username==name.username: %}
                        <div class="message my_message">
                            <p>{{chat.data}}<br><span>{{chat.time}}</span></p>
                        </div>
                    {% else: %}
                        <div class="message frnd_message">
                            <p>{{chat.data}}<br><span>{{chat.time}}</span></p>
                        </div>
                    {% endif %}
                    
                {% endfor %}
                <hr>
                <div class="useless">
                    <button onclick="darkfunction()" style="align-items:center;">chat useless</button>
                    <button onclick="location.href='/delete_short'" id="delete">Delete</button>                    
                </div>
                <script>
                    function darkfunction() {
                        var mybody=document.body
                        var hide=document.getElementById("inputfield")
                        if (hide.value=="True"){
                            hide.value="False";
                            mybody.classList.remove("darkbody");
                        }
                        else {
                            hide.value="True";
                            mybody.classList.toggle("darkbody");
                        }
                    }
                </script>
                <div class="shortBox" id="shortBox">
                    {% for post in feelings: %}
                        {% if post.sender_id==name.id: %}
                            <div class="short my_short">
                                <p>{{post.data}}</span> </p>
                            </div>
                        {% else: %}
                            <div class="short frnd_short">
                                <p >{{post.data}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <script>
                    var objDiv1 = document.getElementById("shortBox");
                    var objDiv2 = document.getElementById("chats");
                    objDiv1.scrollTop = objDiv1.scrollHeight;
                    objDiv2.scrollTop = objDiv2.scrollHeight;
                </script>
            </div>
            <div class="chatbox_input">
                <form action="/chat/{{frnd.id}}" method="post" class="form">
                    <input autofocus autocomplete="off" type="text" name="message" placeholder="Message ">
                    <input type="hidden" name="hide" default="False" value={{hide}} id ="inputfield">
                </form>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>