<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name.username}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script src="{{ url_for('static',filename='script.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="rightside">
            <div class="header">
                <div class="imgtext">
                    <h4 id="{{frnd.username}}">Chats<br></h4>
                </div>
            </div>
            <div class="chatbox" id="chats">
                {% for post in posts: %}
                    {% if post.sender.username==name.username: %}
                        <div class="message my_message">
                            <p>{{post.data}}<br><span>{{post.time}}</span></p>
                        </div>
                    {% else: %}
                        <div class="message frnd_message">
                            <p>{{post.data}}<br><span>{{post.time}}</span></p>
                        </div>
                    {% endif %}
                    
                {% endfor %}
            </div>
            <script>
                var objDiv = document.getElementById("chats");
                objDiv.scrollTop = objDiv.scrollHeight;
            </script>
            <div class="chatbox_input">
                <form action="/chat/{{frnd.username}}" method="post" class="form">
                    <input autofocus autocomplete="off" type="text" name="message" placeholder="Message ">
                </form>
            </div>
        </div>
    </div>
</body>
</html>