<div class="chatbox">
    {% for post in posts: %}
        {% if loop.previtem is not defined: %}
        {% if post.user.username==name: %}
        <div class="message my_message">
                <p>{{post.user.username}}<br><p>{{post.data}}<br><span>{{post.time}}</span></p>
            {% else: %}
                <div class="message frnd_message">
                    <p>{{post.user.username}}<br><p>{{post.data}}<br><span>{{post.time}}</span></p>
                    {% endif %}   
                    {% elif loop.previtem is defined and post.user.username==loop.previtem.user.username: %}
                    <p>{{post.data}}<br><span>{{post.time}}</span></p>
        {% elif post.user.username!=loop.previtem.user.username: %}
            {% if loop.previtem.user.username==name: %}
                </p>
                </div>
                <div class="message frnd_message">
                <p>{{post.user.username}}<br><p>{{post.data}}<br><span>{{post.time}}</span></p>
            {% elif post.user.username==name: %}
                </p>
                </div>
                <div class="message my_message">
                    <p>{{post.user.username}}<br><p>{{post.data}}<br><span>{{post.time}}</span></p>

            {% else: %}
                </p>
                </div>
                <div class="message frnd_message">
                <p>{{post.user.username}}<br><p>{{post.data}}<br><span>{{post.time}}</span></p>
            {% endif %}
        {% elif loop.nextitem is not defined: %}
            {% if loop.previtem.user.username==name: %}
                </p>
            </div>
            {% else: %}
                </p>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>


<div class="chatbox_input">
    <form action="/user/{{topic.name}}" method="post">
        <input autofocus autocomplete="off" type="text" name="post" placeholder="post">    
        <input type="submit" value="ADD"> 
    </form>
    <form action="/user" method="post">
        <input type="submit" value="Back">    
    </form>
</div>
<br>
</div>