{% extends "base.html" %}
{% block title %}{{name}}{% endblock %}
{% block body %}
<h1>Yeah {{name}}<br> We got SUCCESS!!! </h1>

<br>
<header class=""all_nav>
<div class="nav">
<ul>{% for u in user: %}
        <li>{{u.username}}</li>
        {% for msg in mydata: %}
            {% if msg.user.username == u.username: %}
                <ul><li>{{msg.data}} </li></ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
</div>

<div id="logo"></div>

<div class="secnav">
    <ul>
        {% for msg in otherdata: %}
            <li>{{msg.name}}</li>
            <ul>
                <li>{{msg.data}}</li>
            </ul>
        {% endfor %}
    </ul>
</div>
</header>
<br>
<form action="/user/general_topic" method="post">
    <input autofocus autocomplete="off" type="text" name="post" placeholder="post">    
    <input type="hidden" name="topic_name" value="general_topic">
    <input type="submit" value="ADD"> 
</form>
<form action="/user" method="post">
    <input type="submit" value="Back">    
</form>

{% endblock %}