{% extends "base.html" %}
{% block title %}Let's start{% endblock %}
{% block body %}
<div class="container">
    <div class="leftSide" >
        <h2>Channels</h2>
        {% for table in tables: %}
            <form action="/channel/{{table.id}}" method="post">
                <input type="submit" value="{{table.name}}">
            </form>

            <br>
        {% endfor %}
            <form action="/app" method="post">
                <input autocomplete="off" name="channel_name" placeholder="channel_name" type="text" class="search_channel">
                <input type="submit" value="Add Topic">
            </form>      
    </div>
    <div class="rightSide">
        <p><h2>Welcome {{name}}</h2><br><h3>Your balance: {{balance}}</h3></p>
        <form action="/logout" method="post">
            <input type="submit" value="logout">
        </form> 
        <br>   
    </div>
</div>
{% endblock %}