{% extends "base.html" %}
{% block title %}Let's start{% endblock %}
{% block body %}
<h1>Welcome {{name}}</h1><br>
Your balance: {{balance}}
<h3>
<br>
{% for table in tables: %}
    <form action="/user/{{table}}" method="post">
        <input type="submit" value="{{table}}">
    </form>
    <br>
{% endfor %}
<form action="/user" method="post">
    <input autocomplete="off" name="topic_name" placeholder="topic_name" type="text">
    <input type="submit" value="Add Topic">

</form>  

<br>
    <form action="/logout" method="post">
        <input type="submit" value="logout">
    </form>    
    <form action="/shop" method="post">
        <input type="submit" value="shop">
    </form>
{% endblock %}